* {
    scroll-behavior: smooth;
    overflow-x: hidden; 
    
}

body {
    font-family: 'Verdana', 'Arial', sans-serif; 
    background-color: #f0f0f5; 
    color: #333; 
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


p, li {
    font-size: 20px; 
}

h1 {
    font-size: 38px;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}

h2 {
    font-size: 32px;
    color: #0056b3;
    padding-bottom: 10px;
    margin-top: 40px;
    border-bottom: 2px solid #ddd;
}

h3 {
    font-size: 26px;
    color: #444;
    padding-bottom: 5px;
    margin-top: 25px;
}

h4 {
    font-size: 22px;
    color: #28a745;
    margin-top: 15px;
}

strong {
    color: #dc3545;
}

h3 .fab.fa-whatsapp {
    font-size: 70%; 
    margin-right: 8px; 
    color: #25D366; 
    vertical-align: middle;
}

ul, ol {
    padding-left: 25px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

header {
    background-color: #0056b3;
    padding: 50px 0;
    width: 100%; 
    letter-spacing: 1px;
    text-align: center;
}

nav {
    margin-top: 10px; 
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    margin: 0 10px;
    background-color: #007bff;
    border-radius: 8px;
    font-size: 18px;
    display: inline-block; 
    transition: background-color 0.3s, transform 0.2s;
}

nav a:hover {
    background-color: #004085;
    transform: translateY(-2px);
}

main {
    padding: 20px 0;
}

section {
    max-width: 800px;
    width: 90%;
    margin: 30px auto; 
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
    color: #555;
    font-size: 18px;
    margin-top: 40px;
}


@media (max-width: 768px) {
    section {
        width: 95%;
        padding: 20px;
    }

    h1 { font-size: 30px; }
    h2 { font-size: 26px; }
    p, li { font-size: 18px; }

    nav a {
        display: block; 
        margin: 10px auto;
        width: 80%;
    }
}